<?xml version="1.0" encoding="UTF-8" ?>

<configuration>

	<!--定义一个名为STDOUT的appender，并将其关联到ch.qos.logback.core.ConsoleAppender -->

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">

		<!-- encoders 作用是将logger事件转换成字节数组，并将字节数组写入到输出流 -->

		<encoder>

			<!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度 %msg：日志消息，%n是换行符 -->
			<pattern>%d{yyyy-MM-dd HH:mm:ss} %m%n</pattern>
			<!--<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} -[%M]- %m%n</pattern> -->

		</encoder>

	</appender>

 <logger name="user" level="debug" /> 


	<root level="debug">    <!-- root logger，定义级别为debug -->
		<appender-ref ref="STDOUT" />    <!--将名为STDOUT的appender添加到root logger下 -->
	</root>

</configuration> 

